// Default style
*{
	@include border-box;
	font-family: 'NB-L', sans-serif;
	@include smoothFont;
}

body{
	color: #fff;
	background-color: #202020;
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button{
	margin: 0;
	padding: 0;
}

.display{
	position: relative;
	font-family: 'Blw';
	font-size: 10.66667vw;
	line-height: 1em;
	font-weight: 100;
	@include smoothFont;
	margin-top: 19.45vw;
	color: #999;
	margin-left: -0.1vw;
	letter-spacing: -0.43vw;
}

a{
	text-decoration: none;
}

ul{
	li{
		list-style: none;
	}
}

.regla{
	width: 100%;
	z-index: 99;
	height: 8vw;
	background-color: $yellow;
	opacity: .3;
	position: absolute;
	top: 0;
	left: 8;
}

#main-wrapper{
	overflow: hidden;
	.img-back{
		pointer-events: none;
		width: 100%;
		opacity: .5;
		z-index: 99;
		position: absolute;
		top: 0;
		left: 0;

		img{width: 100%;}
	}
}

// quitar la de header
.img-wrapper{
	overflow: hidden;
	img{
		height: 100%;
	}
}