@font-face {
	font-family: 'NB-L';
	src: url('../fonts/NBInternationalLight.eot');
	src: url('../fonts/NBInternationalLight.woff2') format('woff2'), 
		url('../fonts/NBInternationalLight.woff') format('woff'),
		url('../fonts/NBInternationalLight.ttf') format('truetype');
}

@font-face {
	font-family: 'NB-R';
	src: url('../fonts/NBInternationalRegular.eot');
	src: url('../fonts/NBInternationalRegular.woff2') format('woff2'), 
		url('../fonts/NBInternationalRegular.woff') format('woff'),
		url('../fonts/NBInternationalRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'Blw';
	src: url('../fonts/BelweLightBT.eot');
	src: url('../fonts/BelweLightBT.woff2') format('woff2'), 
		url('../fonts/BelweLightBT.woff') format('woff'),
		url('../fonts/BelweLightBT.ttf') format('truetype');
}