// display
.dsp1{
	font-family: 'Blw';
	font-weight: 300;
	font-size: 18.66667vw;
	// line-height: 1em;
	letter-spacing: -0.01em	
}
.dsp2{
	font-family: 'Blw';
	font-weight: 300;
	font-size: 9.33334vw;
	// line-height: 1em;
	letter-spacing: -0.01em	
}

// headers
.h1{
	font-family: 'Blw';
	font-weight: 300;
	font-size: 10.66667vw;
	line-height: 1em;
	letter-spacing: -0.04em;
}
.h2{
	font-family: 'Blw';
	font-weight: 300;
	font-size: 8.8vw;
	line-height: 1em;
	letter-spacing: -0.04em;
}

// paragraphs
.p1{
	font-family: 'NB-L';
	font-weight: 300;
	font-size: 4.8vw;
	line-height: 1.19em;
	letter-spacing: -0.01em
}
.p2{
	font-family: 'NB-L';
	font-weight: 300;
	font-size: 4vw;
	line-height: 1.46em;
}
// links
.a1{
	font-family: 'NB-R';
	font-weight: 500;
	font-size: 4vw;
}
.a2{
	font-family: 'NB-R';
	font-weight: 500;
	font-size: 4.26667vw;
	line-height: 1.31em
}
.a3{
	font-family: 'NB-R';
	font-weight: 500;
	font-size: 2.66667vw;
}