// =============Mobile=============
.is-mobile{
	// display
	.dsp1{
		font-size: 18.66667vw;
	}
	.dsp2{
		font-size: 9.33334vw;
	}
	// headers
	.h1{
		font-size: 10.66667vw;
	}
	.h2{
		font-size: 8.8vw;
	}
	// paragraphs
	.p1{
		font-size: 4.8vw;
		line-height: 1.19em;
		letter-spacing: -0.01em
	}
	.p2{
		font-size: 4vw;
		line-height: 1.46em;
	}
	// links
	.a1{
		font-size: 4vw;
	}
	.a2{
		font-size: 4.26667vw;
		line-height: 1.31em
	}
	.a3{
		font-size: 2.66667vw;
	}
}
//============= Desktop=============
.is-desktop{
	// display
	.dsp1{
		font-size: 12.5vw;
	}
	.dsp2{
		font-size: 6.25vw;
	}
	// headers
	.h1{
		font-size: 8.33334vw;

	}
	.h2{
		font-size: 7.29167vw;
	}
	// paragraphs
	.p1{
		font-size: 2.86458vw;
		line-height: 1.18em;
		letter-spacing: -.02em;
	}
	.p2{
		font-size: 2.08334vw;
		line-height: 1.375em;
		letter-spacing: -.02em;
	}
	.p3{
		font-family: 'NB-R';
		font-weight: 500;
		font-size: 1.45834vw;
	}
	// links
	.a1{
		font-size: 1.5625vw;
	}
	.a2{
		font-size: 2.08334vw;
	}
	.a3{
		font-size: 1.45834vw;
	}

}

// =============Generals=============
// display
.dsp1{
	font-family: 'Blw';
	font-weight: 300;
	letter-spacing: -0.01em;
}
.dsp2{
	font-family: 'Blw';
	font-weight: 300;
	letter-spacing: -0.01em	;
}

// headers
.h1{
	font-family: 'Blw';
	font-weight: 300;
	line-height: 1em;
	letter-spacing: -0.04em;
}
.h2{
	font-family: 'Blw';
	font-weight: 300;
	line-height: 1em;
	letter-spacing: -0.04em;
}

// paragraphs
.p1{
	font-family: 'NB-L';
	font-weight: 300;
}
.p2{
	font-family: 'NB-L';
	font-weight: 300;

}
// links
.a1{
	font-family: 'NB-R';
	font-weight: 500;
	
}
.a2{
	font-family: 'NB-R';
	font-weight: 500;
}
.a3{
	font-family: 'NB-R';
	font-weight: 500;
}