//Colors
$blue: #0038A6;
$yellow: #F8BC26;
$green: #02A751;
$orange: #FF5702;
$black: #000000;
$white: #EDEDED;

// Grid
$mobile-grid__gutterWidth: 1.6%;
$mobile-grid__gutterHalfWidth: $mobile-grid__gutterWidth / 2;

// Margin
$m9: 9.33334vw;
$m10: 10.66667vw;
$m13: 13.33334vw;
$m16: 16vw;