extends ../_templates/layout_es.jade

block content
	include ../_modules_es/_header.jade
	include ../_modules_es/_section1.jade
	include ../_modules_es/_section2.jade
	include ../_modules_es/_section3.jade
	include ../_modules_es/_section4.jade
	include ../_modules_es/_section5.jade
	include ../_modules_es/_footer.jade