/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/fonts';
@import 'global/grid';
@import 'global/default';
@import 'global/type-styles';
@import 'global/buttons';
@import 'global/helpers';

@import 'views/_home';
@import'views/header';
@import 'views/section1';
@import 'views/section2';
@import 'views/section3';
@import 'views/section4';
@import 'views/section5';
@import 'views/footer';
.tester{
	width: 19px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 6px;

	background-color: rgba(255,255,255,.5);
}

.random{
	position: absolute;
	// background-color: #ff6600;
	top: 100px;
	height: 200px;
}

.img_testing{
	position: absolute;
	width: 100%;

	img{
		width: 100%;
	}
}