/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/fonts';
@import 'global/grid';
@import 'global/default';
@import 'global/type-styles';
@import 'global/buttons';
@import 'global/helpers';
@import 'global/blinds';
@import 'global/cascade-animation';

@import 'views/_home';
@import'views/header';
@import 'views/section1';
@import 'views/section2';
@import 'views/section3';
@import 'views/section4';
@import 'views/section5';
@import 'views/footer';


.tester{
	z-index: 999;
	width: 100%;
	height: 1px;
	position: fixed;
	margin: auto;
	top: 0; bottom: 0;

	background-color: rgba(255,0,0,1);
}

.tester2{
	z-index: 999;
	width: 100%;
	height: 1px;
	position: fixed;
	margin: auto;
	// top: 600px;
	bottom: 300px;

	background-color: rgba(0, 255,0, 1);
}

// .parallax:after{
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	z-index: 999;
// 	width: 100%;
// 	height: 1px;
// 	background-color: aqua;
// 	margin: auto;
// 	top: 0; bottom: 0;
// }

.random{
	position: absolute;
	// background-color: #ff6600;
	top: 100px;
	height: 200px;
}

.img_testing{
	position: absolute;
	width: 100%;

	img{
		width: 100%;
	}
}