include _icons.jade
footer#footer
	.circle-wrapper.col-4.offset-16
		span.circle
		span.circle
		span.circle
		span.semi-circle
	.links-wrapper
		ul.social-links.col-6.offset-4
			li
				a.a2.links(href="") Instagram
			li
				a.a2.links(href="") Facebook
			li
				a.a2.links(href="") Pinterest
		a.mail-link.col-7.offset-3(href="mailto:quegusto@madies.mx")
			span.a2.links quegusto
			span.a2.links @madies.mx
	.bottom-section
		a.a2.col-6.offset-4(href="") More Info
		button.arrow-up.col-2.offset-8
			+up-arrow
	.credits
		h6.col-4.offset-4
			a.a3(href="") ©madies
		h6.mandel-link.offset-2
			a.a3(href="") Site by Mandelbrot Studio