//- extends ../layouts/main.pug
block content
	section.header
		.desktop-grid.mobile-grid
			include _nav-header.jade
			.title-wrapper
				.main-title-wrap.offset-2.col-15.offset-lg-2.col-lg-13
					h1.h1.cascade-mask
						span.mbrt-cascade.firstload.animate(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Crunchy Fruit

					h1.h1.cascade-mask
						span.mbrt-cascade.firstload.animate(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Snack —


				.circle-wrapper.offset-2.offset-lg-4.col-lg-4
					span.circle.mbrt-cascade.firstload.animate(data-cascade="scale-up-full" data-cascade-delay="5" data-cascade-delay-mobile="5")
					span.semi-circle.radius-left.mbrt-cascade.firstload.animate(data-cascade="scale-up-full-rotate" data-cascade-delay="5" data-cascade-delay-mobile="5")


			h1.subtitle.h1.offset-4.col-14.offset-lg-4.cascade-mask
				span.mbrt-cascade.firstload.animate(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Just Like That


			.img-wrapper.mbrt-cascade.firstload.animate(data-cascade="header-img-mask" data-cascade-delay="1" data-cascade-delay-mobile="1")
				img.mbrt-cascade.firstload.animate(data-cascade="scale-down" data-cascade-delay="1" data-cascade-delay-mobile="1")(src="img/Madies_Foto_01.jpg", alt="Madies: Lyophilized mangos")