nav#header-nav.nav-section
	.logo-wrapper.offset-2.col-5.offset-lg-2.col-lg-3
		img(src="img/MadiesLogo.svg" alt="Madies" title="Madies")

	p.phrase.col-lg-4.offset-lg-5 Qué Gusto
	//- se añadío languaje wrapper para centrar en la parte del nav
	
	ul.language-wrapper.offset-lg-5
		li.language-page.spanish
			a(href="./es/") 
				span.lang-mask
					span.a1 ESP
			.color-dot


		li.a1 
			.lang-mask
				span /


		li.language-page.english.current
			a 
				span.lang-mask
					span.a1 ENG
			.color-dot
