section#section5
	.desktop-grid.mobile-grid
		h2.h2.col-12.offset-10.col-lg-11.offset-lg-11 Even if It Can Last up to Twenty Years
		.circle-wrapper.number-2.col-12.offset-2.col-lg-12.offset-lg-2
			span.semi-circle
			span.triangle
		.circle-wrapper.number-0
			span.semi-circle.left
			span.semi-circle.right
		h2.h2.col-14.offset-2.col-lg-13.offset-lg-2.second-text You Will Not Resist Twenty Minutes without Eating Them
		.img-wrapper.col-16.offset-4.col-lg-10.offset-lg-7
			img(src="../img/Madies_Foto_10.jpg", alt="")