section#section2
	.desktop-grid.mobile-grid
		.display-wrapper
			ul#blind-text-container
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
			.img-wrapper
				img(src="../img/Madies_Foto_04.jpg", alt="Packaging with mangos")

