section#section2
	.desktop-grid.mobile-grid
		.display-wrapper
			ul
				li.dsp1 MADIES
				li.dsp1 MADIES
				li.dsp1 MADIES
				li.dsp1 MADIES
				li.dsp1 MADIES
			.img-wrapper
				img(src="../img/Madies_Foto_06.jpg", alt="")

