section#section3.index-2
	.desktop-grid.mobile-grid
		p.p1.col-12.offset-2.offset-lg-2.col-lg-8 Think about biting a crispy apple & feel all the flavor running around your mouth
		.bottom-section
			.circle-wrapper.col-4.offset-2.offset-lg-2.col-lg-4
				span.semi-circle.radius-right
				span.semi-circle.radius-right
			.img-wrapper.col-12.offset-4.col-lg-10.offset-lg-6
				img(src="../img/Madies_Foto_07.jpg", alt="Crunchy apple with a lot of flavor")
