section#section2
	.desktop-grid.mobile-grid
		.display-wrapper
			ul#blind-text-container.mbrt-cascade
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies
				li.dsp1
					.mask 
						span.blind-shifter.first-blind natural
						span.blind-shifter.second-blind.hide crunch
						span.blind-shifter.third-blind.hide madies


			.img-wrapper.mbrt-cascade
				.inner-wrap
					.scale-wrap
						.img-mask.blind-img.first-blind-img.show
							img(src="img/Madies_Foto_04.jpg", alt="Mangos over paper")
						.img-mask.blind-img.second-blind-img
							img(src="img/Madies_Foto_05.jpg", alt="Madies snacks out of the bag")
						.img-mask.blind-img.third-blind-img
							img(src="img/Madies_Foto_06.jpg", alt="Packaging with mangos")

