section#section2
	.desktop-grid.mobile-grid
		.display-wrapper
			ul.col-16.offset-4.offset-lg-5
				li.dsp1 NATURAL
				li.dsp1 NATURAL
				li.dsp1 NATURAL
				li.dsp1 NATURAL
				li.dsp1 NATURAL
			.img-wrapper
				img(src="../img/Madies_Foto_06.jpg", alt="")

