section#section4
	.desktop-grid.mobile-grid
		.top-section
			.copy-wrap.col-10.offset-1.col-lg-9.offset-lg-1.mbrt-cascade
				h2.h2 That's How
				h2.h2 Irresistible
				h2.h2 Madies is

			.circle-wrapper.offset-7.col-5.offset-lg-8.col.mbrt-cascade
				span.semi-circle.radius-top
				.parallax(data-parallax-intensity=".5")
					span.circle



		//- slider section
		#fruits-slider.slider-wrapper.mbrt-cascade
			//- slider left
			.slides-wrapper-2.mbrt-cascade
				.img-wrapper
					.inview-mask
						.inview-scale
							.img-mask-desktop.active
								img(src="img/Madies_Foto_08.1.jpg", alt="Madies packaging with natural mangos and lyophilized cubes")

							.img-mask-desktop
								img(src="img/Madies_Foto_08.2.jpg", alt="Another perspective of Madies packaging with natural mangos and lyophilized cubes")

							.img-mask-desktop
								img(src="img/Madies_Foto_08.3.jpg", alt="Packaging with lyophilized mangos surrounding it")
					

			.controller.col-3.offset-2.offset-lg-15.col-lg-7
				button.btn.btn-prev
					span.btn-mask
						span Prev

			.slides-wrapper.col-12.offset-1.offset-lg-15.col-lg-7
				.inner-wrapper
					.inview-mask
						.inview-scale
							#slide-0.slide.active
								.img-wrapper
									img(src="img/Madies_Foto_09.1.jpg", alt="Madies mangos in a bag")

							#slide-1.slide
								.img-wrapper
									img(src="img/Madies_Foto_09.2.jpg", alt="Madies mangos in a plate")

							#slide-2.slide
								.img-wrapper
									img(src="img/Madies_Foto_09.3.jpg", alt="Madies mango all natural")


			.fruit-name.mbrt-cascade
				.slider-mask
					p.dsp2.shifting-slide-title.active Natural
					p.dsp2.shifting-slide-title Lyophilized
					p.dsp2.shifting-slide-title Mangos

			.controller.col-3.offset-1.offset-lg-15.col-lg-7
				button.btn.btn-next
					span.btn-mask
						span Next

		.paragraphs-container
			.text-wrapper.text-left.col-14.offset-2.offset-lg-2.col-lg-8.mbrt-cascade
				.inview-translate
					p.p2 through a process called freeze-dried, we freeze &amp; dehydrate the fruit.
					p.p2 That way we keep all minerals, proteins, aroma &amp; flavors.

			.text-wrapper.text-right.col-14.offset-8.offset-lg-2.col-lg-8.mbrt-cascade
				.inview-translate
					p.p2 We don’t just eat madies from the packaging to the mouth.
					p.p2 we can also create new snacks &amp; irresistible dishes.


