include _icons.jade
footer#footer
	.desktop-grid.mobile-grid
		.circle-wrapper.col-4.offset-16.col-lg-2.offset-lg-15
			span.circle
			span.circle
			span.circle
			span.semi-circle
		.links-wrapper
			ul.social-links.col-6.offset-4.offset-lg-2.col-lg-4
				//- agregar .link-style en mobile
				li
					a.a2.links.link-style(href="https://www.instagram.com/madies_snacks" target="_blank") Instagram
				li
					a.a2.links.link-style(href="https://www.facebook.com/MadiesSnacks" target="_blank") Facebook
				li
					a.a2.links.link-style(href="https://pinterest.es" target="_blank") Pinterest

			a.mail-link.col-7.offset-3.offset-lg-1(href="mailto:quegusto@madies.mx" target="_blank")
				span.a2.links.link-style quegusto
				span.a2.links.link-style @madies.mx
			//- borrar estos en mobile
			button.a2.no-mobile.backTo.link-style.backTop Ir arriba
			a(href="https://www.instagram.com/p/B1bcw1TFcqZ/" target="_blank").a2.no-mobile.link-style.more-info.offset-lg-7 Más info
		//- borrar en desktop
		.bottom-section
			a.a2.col-6.offset-4(href="https://www.instagram.com/p/B1bcw1TFcqZ/") Más info
			button.arrow-up.col-2.offset-8.backTop
				+up-arrow
		.credits
			h6.madies-inc.a3.style-link.offset-4.offset-lg-2 ©MADIES
			a(href="https://mandelbrot.mx/" target="_blank").mandel-link.offset-2.a3.style-link Sitio por Mandelbrot Studio
				//- a.a3.style-link(href="") Site by Mandelbrot Studio
			h6.a3.date.style-link 019
		
