//- extends ../layouts/main.pug
block content
	section.header
		.desktop-grid.mobile-grid
			include _nav-header.jade
			.title-wrapper
				h1.h1.offset-2.col-15.offset-lg-2.col-lg-15 Botana de Fruta Crujiente —
				.circle-wrapper.offset-2.offset-lg-1.col-lg-4
					span.circle
					span.semi-circle.radius-left
			h1.subtitle.h1.offset-4.col-14.offset-lg-4 Así de Simple
			.img-wrapper
				img(src="../img/Madies_Foto_01.jpg", alt="Madies: Mangos liofilizados")