//- extends ../layouts/main.pug
block content
	section.header
		.desktop-grid.mobile-grid
			include _nav-header.jade
			.title-wrapper
				.main-title-wrap.offset-2.col-17.offset-lg-2.col-lg-15
					h1.h1.cascade-mask
						span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Botana de Fruta
						
					h1.h1.cascade-mask
						span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Crujiente —


				.circle-wrapper.offset-lg-2.col-lg-4
					span.mbrt-cascade.firstload(data-cascade="scale-up-full" data-cascade-delay="5" data-cascade-delay-mobile="5").circle
					span.mbrt-cascade.firstload(data-cascade="scale-up-full-rotate" data-cascade-delay="5" data-cascade-delay-mobile="5").semi-circle.radius-left



			h1.subtitle.h1.offset-4.col-14.offset-lg-4.cascade-mask
				span.mbrt-cascade.firstload(data-cascade="fade-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Así de Simple


			.img-wrapper.mbrt-cascade.firstload(data-cascade="header-img-mask" data-cascade-delay="1" data-cascade-delay-mobile="1")
				img.mbrt-cascade.firstload(data-cascade="scale-down" data-cascade-delay="1" data-cascade-delay-mobile="1" src="../img/Madies_Foto_01.jpg", alt="Madies: Mangos liofilizados")