nav.nav-section
	.logo-wrapper.offset-2.col-5.offset-lg-2.col-lg-3
		img(src="../img/MadiesLogo.svg", alt="")
	p.phrase.col-lg-4.offset-lg-5 Que Gusto
	//- se añadío languaje wrapper para centrar en la parte del nav
	
	ul.language-wrapper.offset-lg-5
		li.language-page.spanish.current
			a.a1 ESP
		li.a1 /
		li.language-page.english
			a.a1(href="../") ENG