section#section4
	.top-section
		h2.h2.col-10.offset-1 Así de — Irresistible es Madies
		.circle-wrapper.offset-7.col-5
			span.semi-circle.radius-top
			span.circle


	#fruits-slider.slider-wrapper
		.controller.col-3.offset-2 
			button.btn.btn-prev Prev

		.slides-wrapper.col-12.offset-1
			.inner-wrapper
				#slide-0.slide.active
					.img-wrapper
						img(src="../img/Madies_Foto_09.jpg", alt="")

				#slide-1.slide
					.img-wrapper
						img(src="https://www.fillmurray.com/470/673", alt="")

				#slide-2.slide
					.img-wrapper
						img(src="https://www.fillmurray.com/563/808", alt="")

		.fruit-name
			.slider-mask
				p.dsp2.shifting-slide-title.active Natural
				p.dsp2.shifting-slide-title Mangos
				p.dsp2.shifting-slide-title Liofilizados

		.controller.col-3.offset-1 
			button.btn.btn-next Next



	.text-wrapper.text-left.col-14.offset-2 
		p.p2 con un proceso llamado liofilización, congelamos y deshidratamos la  fruta.
		p.p2 Así conservamos todos los minerales, proteínas, — olores y sabores.

	.text-wrapper.text-right.col-14.offset-8
		p.p2 no nos limitamos a comerlos del empaque a la boca.
		p.p2 tambien podemos crear nuevas botanas y platillos irresistibles.