section#section3.index-2
	.desktop-grid.mobile-grid
		h2.p1.col-12.offset-2.offset-lg-2.col-lg-8.mbrt-cascade
			span Piensa en morder una manzana — crujiente y sentir todo el sabor de la fruta


		.bottom-section
			.circle-wrapper.col-4.offset-2.offset-lg-2.col-lg-4
				.figure-wrap
					span.semi-circle.radius-right.blue.mbrt-cascade(data-cascade="intro-left" data-cascade-delay="2" data-cascade-delay-mobile="2")

				.figure-wrap
					span.semi-circle.radius-right.orange.mbrt-cascade(data-cascade="intro-left" data-cascade-delay="4" data-cascade-delay-mobile="3")

			.img-wrapper.col-12.offset-4.col-lg-10.offset-lg-6.mbrt-cascade.parallax(data-parallax-intensity="1.3")
				.mask-wrapper
					img(src="../img/Madies_Foto_07.jpg", alt="Manzana crujiente con mucho sabor")
