section#section4
	.desktop-grid.mobile-grid
		.top-section
			.copy-wrap.col-10.offset-1.col-lg-9.offset-lg-1.mbrt-cascade
				h2.h2 Así de —
				h2.h2 Irresistible
				h2.h2 es Madies

			.circle-wrapper.offset-7.col-5.offset-lg-8.col.mbrt-cascade
				span.semi-circle.radius-top
				.parallax(data-parallax-intensity=".5")
					span.circle



		//- slider section
		#fruits-slider.slider-wrapper.mbrt-cascade
			//- slider left
			.slides-wrapper-2.mbrt-cascade
				.img-wrapper
					.inview-mask
						.inview-scale
							.img-mask-desktop.active
								img(src="../img/Madies_Foto_08.1.jpg", alt="Empaque de mangos de Madies con mangos y snacks liofilizados")

							.img-mask-desktop
								img(src="../img/Madies_Foto_08.2.jpg", alt="Empaque de edamames de Madies con edamames y snacks liofilizados")

							.img-mask-desktop
								img(src="../img/Madies_Foto_08.3.jpg", alt="Empaque de mangos de Madies con mangos liofilizados alrededor")

							.img-mask-desktop
								img(src="../img/Madies_Foto_08.4.jpg", alt="Mano sosteniendo empaque de edamames de Madies")
					

			.controller.col-3.offset-2.offset-lg-15.col-lg-7
				button.btn.btn-prev
					span.btn-mask
						span Prev

			.slides-wrapper.col-12.offset-1.offset-lg-15.col-lg-7
				.inner-wrapper
					.inview-mask
						.inview-scale
							#slide-0.slide.active
								.img-wrapper
									img(src="../img/Madies_Foto_09.1.jpg", alt="Mangos de Madies en un plato")

							#slide-1.slide
								.img-wrapper
									img(src="../img/Madies_Foto_09.2.jpg", alt="Edamames de Madies al natural")

							#slide-2.slide
								.img-wrapper
									img(src="../img/Madies_Foto_09.3.jpg", alt="Mangos de Madies al natural")

							#slide-3.slide
								.img-wrapper
									img(src="../img/Madies_Foto_09.4.jpg", alt="Edamames de Madies en un plato")


			.fruit-name.mbrt-cascade
				.slider-mask
					p.dsp2.shifting-slide-title.active Natural
					p.dsp2.shifting-slide-title Edamames
					p.dsp2.shifting-slide-title Mangos
					p.dsp2.shifting-slide-title Liofilizados

			.controller.col-3.offset-1.offset-lg-15.col-lg-7
				button.btn.btn-next
					span.btn-mask
						span Sig

		.paragraphs-container
			.text-wrapper.text-left.col-14.offset-2.offset-lg-2.col-lg-8.mbrt-cascade
				.inview-translate
					p.p2 con un proceso llamado liofilización, congelamos y deshidratamos la fruta.
					p.p2 Así conservamos todos los minerales, proteínas, — olores y sabores.

			.text-wrapper.text-right.col-14.offset-8.offset-lg-2.col-lg-8.mbrt-cascade
				.inview-translate
					p.p2 No nos limitamos a comerlos del empaque a la boca.
					p.p2 Tambien podemos crear nuevas botanas y platillos irresistibles.


