section#section3.index-2
	p.p1.col-12.offset-2 Piensa en morder una manzana — crujiente y sentir todo el sabor de la fruta.
	.bottom-section
		.circle-wrapper.col-4.offset-2
			span.semi-circle.radius-right
			span.semi-circle.radius-right
		.img-wrapper.col-12.offset-4
			img(src="../img/Madies_Foto_07.jpg", alt="")
