section#section1.index-1
	p.p1.col-10.offset-4 UN PRODUCTO NATURAL SIN NADA QUE AGREGAR.
	.middle-section
		.img-wrapper.col-10.offset-4
			img(src="../img/Madies_Foto_02.jpg", alt="")
		.circle-wrapper.offset-5.col-3
				span.semi-circle.radius-bottom
				span.semi-circle.radius-left
	.bottom-section
		h2.h2.col-11.offset-11 De la Huerta a tus Manos
		.img-wrapper
			img(src="../img/Madies_Foto_03.jpg", alt="")
		span.circle
		img.mountain(src="../img/Mountain.svg", alt="")
		//- .circle-wrapper.col-6