section#section2
	.desktop-grid.mobile-grid
		.display-wrapper
			ul#blind-text-container.mbrt-cascade
				li
					.mask 
						h2.dsp1.blind-shifter.first-blind natural
						h2.dsp1.blind-shifter.second-blind.hide crunch
						h2.dsp1.blind-shifter.third-blind.hide madies
				li
					.mask 
						h2.dsp1.blind-shifter.first-blind natural
						h2.dsp1.blind-shifter.second-blind.hide crunch
						h2.dsp1.blind-shifter.third-blind.hide madies
				li
					.mask 
						h2.dsp1.blind-shifter.first-blind natural
						h2.dsp1.blind-shifter.second-blind.hide crunch
						h2.dsp1.blind-shifter.third-blind.hide madies
				li
					.mask 
						h2.dsp1.blind-shifter.first-blind natural
						h2.dsp1.blind-shifter.second-blind.hide crunch
						h2.dsp1.blind-shifter.third-blind.hide madies
				li
					.mask 
						h2.dsp1.blind-shifter.first-blind natural
						h2.dsp1.blind-shifter.second-blind.hide crunch
						h2.dsp1.blind-shifter.third-blind.hide madies


			.img-wrapper.mbrt-cascade
				.inner-wrap
					.scale-wrap
						.img-mask.blind-img.first-blind-img.show
							img(src="../img/Madies_Foto_04.jpg", alt="Bodegón de mangos sobre papel")

						.img-mask.blind-img.second-blind-img
							img(src="../img/Madies_Foto_05.jpg", alt="Madies sueltos sin empaque")

						.img-mask.blind-img.third-blind-img
							img(src="../img/Madies_Foto_06.jpg", alt="Bodegón del empaque con mangos")

