section#section1.index-1
	.desktop-grid.mobile-grid
		p.p1.col-10.offset-4.col-lg-7.offset-lg-2.mbrt-cascade
			span Un producto natural sin nada que agregar

		.middle-section
			.img-wrapper.col-10.offset-4.col-lg-8.offset-lg-2.parallax(data-parallax-intensity="1.3")
				.mbrt-cascade
					.inview-translate
						.inview-scale
							img(src="../img/Madies_Foto_02.jpg", alt="Mangos frescos naturales")

			.circle-wrapper.offset-5.col-3.col-lg-4.offset-lg-8.mbrt-cascade
					span.semi-circle.radius-bottom.orange
					
					.black-half-container.parallax(data-parallax-intensity=".5")
						span.semi-circle.radius-left.black


		.bottom-section
			.copy-wrap.col-13.offset-9.col-lg-10.offset-lg-12.mbrt-cascade
				h2.h2.inview-child De la Huerta
				h2.h2.inview-child a tus Manos

			.img-wrapper.parallax(data-parallax-intensity=".3")
				img(src="../img/Madies_Foto_03.jpg", alt="Frescura de la huerta a tus manos")

			.black-sun-wrap.mbrt-cascade.parallax(data-parallax-intensity=".6")
				span.circle
			img.mountain(src="../img/Mountain.svg", alt="onda de marca")
			//- .circle-wrapper.col-6