section#section1.index-1
	.desktop-grid.mobile-grid
		p.p1.col-10.offset-4.col-lg-7.offset-lg-2 Un producto natural sin nada que agregar
		.middle-section
			.img-wrapper.col-10.offset-4.col-lg-8.offset-lg-2
				img(src="../img/Madies_Foto_02.jpg", alt="Mangos frescos naturales")
			.circle-wrapper.offset-5.col-3.col-lg-4.offset-lg-8
					span.semi-circle.radius-bottom
					span.semi-circle.radius-left
		.bottom-section
			h2.h2.col-11.offset-11.col-lg-10.offset-lg-12 De la Huerta a tus Manos
			.img-wrapper
				img(src="../img/Madies_Foto_03.jpg", alt="Frescura de la huerta a tus manos")
			span.circle
			img.mountain(src="../img/Mountain.svg", alt="onda de marca")
			//- .circle-wrapper.col-6