section#section5
	.desktop-grid.mobile-grid
		.copy-wrapper.top.col-12.offset-10.col-lg-11.offset-lg-11.mbrt-cascade
			h2.h2 Y Aunque
			h2.h2 Duran Hasta
			h2.h2 Veinte Años


		.circle-wrapper.number-2.col-12.offset-2.col-lg-12.offset-lg-2
			.mbrt-cascade
				.inview-translate
					span.semi-circle
					span.triangle


		.circle-wrapper.number-0.parallax(data-parallax-intensity="2")
			.mbrt-cascade
				.inview-translate
					span.semi-circle.left
					span.semi-circle.right


		.copy-wrapper.bottom.col-14.offset-2.col-lg-13.offset-lg-2.second-text.mbrt-cascade.parallax(data-parallax-intensity="-0.5")
			h2.h2 No Resistirás
			h2.h2 Veinte Minutos
			h2.h2 sin Comerlos


		.img-wrapper.col-16.offset-4.col-lg-10.offset-lg-7.mbrt-cascade
			.inview-mask
				.inview-translate
					//- img(src="../img/Madies_Foto_10.jpg", alt="Mano tomando un mango natural")
					video(autoplay loop playsinline muted="muted")
						source(src="../videos/Madies_Hand_vert.mp4" type="video/mp4")