$loader_keyduration_0: 800ms;
$loader_keyduration_1: 800ms;
$loader_keyduration_2: 1s;
$loader_keyduration_3: 1600ms;
$loader_keyduration_4: 800ms;
$loader_keyduration_5: 2200ms;
$loader_keyduration_6: 380ms;
$loader_keyduration_7: 650ms;

$loader_keyframe_1: $loader_keyduration_0;
$loader_keyframe_2: $loader_keyframe_1 + $loader_keyduration_1;
$loader_keyframe_3: $loader_keyframe_2 + $loader_keyduration_2;
$loader_keyframe_4: $loader_keyframe_3 + $loader_keyduration_3;
$loader_keyframe_4_1: $loader_keyframe_4 + 100ms;
$loader_keyframe_5: $loader_keyframe_4 + $loader_keyduration_4;
$loader_keyframe_6: $loader_keyframe_5 + $loader_keyduration_5 - 400ms; // Lang Dot animation
$loader_keyframe_7: $loader_keyframe_6 + $loader_keyduration_6; // Lang Dot animation

$phrase-ease: cubic-bezier(0.64, 0.135, 0.15, 0.86);

// General styles ==================================================================
#loader-screen{
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	@include ani-delay($loader_keyframe_4);
	@include ani-fillmode(forwards);

	&:before{
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		@include transform-origin(top, center);
		// border: 1px solid red;
	}

	.center-wrap{
		position: absolute;
		margin: auto;
		top: 2.96vw;
		width: 100%;
		// height: getvwDesktop(70vw);
		overflow: hidden;
		@include translate3d(0, 41.5vh, 0);
	}

	.logo-wrap{
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
		// width: getvwDesktop(285vw);
		// height: getvwDesktop(60vw);
		@include transform-origin(bottom, center);
		@include ani-ease(cubic-bezier(0.55, 0.055, 0.675, 0.19));
		@include ani-fillmode(both);

		img{
			width: 100%;
		}
	}

	.tagline-wrap{
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		width: 100%;
		height: getvwDesktop(32vw);
		text-align: center;
		@include translate3d(0, 123%, 0);
		opacity: 0;
		@include ani-delay($loader_keyframe_4_1);
		@include ani-fillmode(forwards);

		h2{
			position: relative;
			top: getvwDesktop(-11vw);
			text-transform: uppercase;
			// font-size: 1.66667vw;
			font-size: 2.1875vw;
			font-family: 'Blw';
			font-weight: 300;
		}
	}


	&.loaded{
		@include ani-duration(0s);
		@include ani-name(pos-fix-abs);

		&:before{
			@include trans-customease-delay($loader_keyduration_3, $phrase-ease, $loader_keyframe_3)
			@include scale(1,0);
		}

		.center-wrap{
			@include trans-customease-delay($loader_keyduration_3, $phrase-ease, $loader_keyframe_3);
		}

		.logo-wrap{
			@include ani-duration($loader_keyduration_0);
			@include ani-name(deform-up);
		}

		.tagline-wrap{
			@include trans-customease-delay($loader_keyduration_1, $easeOutCubic, $loader_keyframe_1);
			@include translate3d(0, 0, 0);
			opacity: 1;
			@include ani-duration(0s);
			@include ani-name(hide);

			h2{
				@include trans-custom(all, $loader_keyduration_3, $phrase-ease, $loader_keyframe_3);
				@include scale(0.7619, 0.7619);
			}
		}
	}
}

// Mobile styles ==================================================================
.is-mobile{
	#loader-screen{
		.center-wrap{
			height: getvw(70vw);
		}

		.logo-wrap{
			width: getvw(142vw);
			height: getvw(30vw);
		}

		.tagline-wrap{
			height: getvw(32vw);

			h2{
				font-size: 4vw;
			}
		}

		&.loaded{
			.center-wrap{
				@include translate3d(0, -12vh, 0);
			}
		}
	}
}

// Desktop styles ==================================================================
.is-desktop{
	#loader-screen{
		.center-wrap{
			height: getvwDesktop(70vw);
		}

		.logo-wrap{
			width: getvwDesktop(285vw);
			height: getvwDesktop(60vw);
		}

		.tagline-wrap{
			height: getvwDesktop(32vw);

			h2{
				font-size: 2.1875vw;
			}
		}

		&.loaded{
			.center-wrap{
				@include translate3d(0, 0, 0);
			}
		}
	}
}





// Animation Keyframes =================================
@keyframes deform-up{
	0% {
		@include scale-trans3d(1, 1, 0, 0, 0);
	}

	60% {
		@include scale-trans3d(1, 1.2, 0, 0, 0);
	}

	100% {
		@include scale-trans3d(1, 1.6, 0, -106%, 0);
	}
}

@keyframes pos-fix-abs {
	from {
		position: fixed;
	}
	to {
		position: absolute;
	}
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}






