doctype html
html(class='no-js' lang="es")
	head
		//- Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-79153292-12")
		script
			|window.dataLayer = window.dataLayer || [];
			|function gtag(){dataLayer.push(arguments);}
			|gtag('js', new Date());

			|gtag('config', 'UA-79153292-12');

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Madies | Frutos Liofilizados | Que Gusto

		//- metatags
		meta(name='description', content='Botana de Fruta Crujiente — Así de Simple. Un producto natural sin nada que agregar. De la Huerta a tus Manos.')

		//- Share graphs for social media
		meta(property="og:url" 			content="https://madies.mx/es")
		meta(property="og:type" 		content="website")
		meta(property="og:title" 		content="Madies | Frutos Liofilizados | Que Gusto")
		meta(property="og:description" 	content="Botana de Fruta Crujiente — Así de Simple. Un producto natural sin nada que agregar. De la Huerta a tus Manos.")
		meta(property="og:image" 		content="https://madies.mx/MadiesShareGraph.jpg")
		meta(name="twitter:card", content="summary")

		//- Favicon
		link(rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png")
		link(rel="mask-icon" href="../safari-pinned-tab.svg" color="#000000")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")

		//- stylesheets
		link(rel='stylesheet', href='../css/app.css')

	//- body.is-desktop
	body.es
		//- .tester


		//- Loader
		include ../_modules_es/_loader.jade

		//- content
		#main-wrapper
			.img-back
				//- mobile
				//- img(src="../img/testing/mobile_en.jpg", alt="")

				//- desktop
				//- img(src="../img/testing/desk_es.jpg", alt="")


			.js-scroll
				block content

		//- scripts
		script(src='../js/app.js')