doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Madies | Lyophilized Fruits | Que Gusto

		//- metatags
		meta(name='description', content='Crunchy Fruit Snack — Just Like That. A natural product with nothing to add. From our Orchards to your Hands.')

		//- Share graphs for social media
		meta(property="og:url" 			content="https://madies.mx")
		meta(property="og:type" 		content="website")
		meta(property="og:title" 		content="Madies | Lyophilized Fruits | Que Gusto")
		meta(property="og:description" 	content="Crunchy Fruit Snack — Just Like That. A natural product with nothing to add. From our Orchards to your Hands.")
		meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")
		meta(name="twitter:card", content="summary")

		//- Favicon
		link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	//- body.is-desktop
	body.en
		//- .tester
		//- .tester2

		//- .desktop-grid.testing
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
			.col-lg-1
				.inner
		//- .mobile-grid.testing
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
		

		//- Loader
		include ../_modules/_loader.jade

		//- content
		#main-wrapper
			.img-back
				//- mobile
				//- img(src="img/testing/mobile_en.jpg", alt="")

				//- desktop
				//- img(src="img/testing/desk_en.jpg", alt="")


			.js-scroll
				block content

		//- scripts
		script(src='js/app.js')