doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Madies | Frutos Liofilizados | Que Gusto

		//- metatags
		meta(name='description', content='Botana de Fruta Crujiente — Así de Simple. Un producto natural sin nada que agregar. De la Huerta a tus Manos.')

		//- Share graphs for social media
		meta(property="og:url" 			content="https://madies.mx/es")
		meta(property="og:type" 		content="website")
		meta(property="og:title" 		content="Madies | Frutos Liofilizados | Que Gusto")
		meta(property="og:description" 	content="Botana de Fruta Crujiente — Así de Simple. Un producto natural sin nada que agregar. De la Huerta a tus Manos.")
		meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")
		meta(name="twitter:card", content="summary")

		//- Favicon
		link(rel="icon" type="image/png" sizes="32x32" href="../favicon.png")

		//- stylesheets
		link(rel='stylesheet', href='../css/app.css')

	//- body.is-desktop
	body.es
		#main-wrapper
			.img-back
				//- mobile
				//- img(src="../img/testing/mobile_en.jpg", alt="")

				//- desktop
				//- img(src="../img/testing/desk_es.jpg", alt="")


			.js-scroll
				block content

		//- scripts
		script(src='../js/app.js')