doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Madies | Lyophilized Fruits | Que Gusto

		//- metatags
		meta(name='description', content='Page_description')
		meta(name='subject', content='Page_subject')

		//- Share graphs for social media
		meta(property="og:url" 			content="https://madiesm.mandelbrot.mx")
		meta(property="og:type" 		content="website")
		meta(property="og:title" 		content="Madies | Lyophilized Fruits | Que Gusto")
		meta(property="og:description" 	content="Crunchy Fruit Snack — Just Like That. A natural product with nothing to add. From our Orchards to your Hands.")
		meta(property="og:image" 		content="https://madiesm.mandelbrot.mx/img/Visual_Mobile_01.jpg")
		meta(name="twitter:card", content="summary")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- .tester
		//- .img_testing
			img(src="img/madies_back.jpg", alt="")

		//- .mobile-grid
		//- 	.col-16.offset-2
		//- 		h1.display Crunchy Fruit Snack —

		//- Grid Tester
		//- .regla
		//- .mobile-grid.testing
			//- agregar .inner para poder ver la deparación de las columnas
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner
			.col-1
				.inner

		//- header


		//- content
		#main-wrapper
			.mobile-grid
				block content

		//- scripts
		script(rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js")
		script(src='js/app.js')