doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Madies | Frutos Liofilizados | Que Gusto

		//- metatags
		meta(name='description', content='Page_description')
		meta(name='subject', content='Page_subject')

		//- Share graphs for social media
		meta(property="og:url" 			content="https://madiesm.mandelbrot.mx/es")
		meta(property="og:type" 		content="TYPE")
		meta(property="og:title" 		content="Madies | Frutos Liofilizados | Que Gusto")
		meta(property="og:description" 	content="Botana de Fruta Crujiente — Así de Simple. Un producto natural sin nada que agregar. De la Huerta a tus Manos.")
		meta(property="og:image" 		content="https://madiesm.mandelbrot.mx/img/Visual_Mobile_01.jpg")
		meta(name="twitter:card", content="summary")

		//- stylesheets
		link(rel='stylesheet', href='../css/app.css')

	body
		//- content
		#main-wrapper
			.mobile-grid
				block content

		//- scripts
		script(rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js")
		script(src='../js/app.js')