// ====================== Mobile =====================
.is-mobile{
	footer#footer{
		padding-top: 9.33334vw;
		.circle-wrapper{
			margin-bottom: 6.8vw;
			span{
				height: getvw(38vw);
				&.circle{
					width: getvw(38vw);
				}
				&.semi-circle{
					width: getvw(19vw);
					border-radius: borderR(19vw) 0 0 borderR(19vw);
				}
				&:nth-child(2){
					transform: translateX(50%);
				}
			}
		}
		.links-wrapper{
			display: flex;
			margin-bottom: 6.6vw;
			a.links{
				padding: 1.33334vw;
				margin-left: -1.33334vw;
				height: 3.15vw;
				line-height: 3.5vw;
				display: block;
				box-sizing: content-box;
			}
			.social-links{
				li{
					margin: 1.26667vw 0;
				}
			}
			.mail-link{
				padding-top: 1.699vw;
				span{
					text-align: right;
					display: block;
					&:last-child{
						padding-top: .1vw;
					}
				}
			}
			.no-mobile{
				display: none;
			}
		}
		.bottom-section{
			display: flex;
			align-items: center;
			margin-bottom: 6.9vw;
			a{
				// background: yellow;
				height: 3.2vw;
				line-height: 3.5vw;
			}
			button.arrow-up svg{width: 100%;}
		}
		.credits{
			padding-bottom: 10.4vw;
			.a3{
				padding: 2vw;
				display: block;
			}
			.madies-inc{
				transform: translateX(-1.2vw);
			}
			.date{
				display: none;
			}
			.mandel-link{
				margin-left: 11.15vw;
			}
		}
	}
}
// ====================== Desktop =====================
.is-desktop{
	footer#footer{
		padding-top: 4.23334vw;
		.link-style{
			height: 1.45vw;
			line-height: 1.7vw;
			box-sizing: content-box;
		}
		.circle-wrapper{
			margin-bottom: 3.34vw;
			span{
				height: getvwDesktop(48vw);
				&.circle{
					width: getvwDesktop(48vw);
				}
				&.semi-circle{
					width: getvwDesktop(24vw);
					border-radius: borderR(24vw) 0 0 borderR(24vw);
				}
				&:first-child{
					z-index: 3;
				}
				&:nth-child(2){
					transform: translateX(50%);
				}
				&:nth-child(3){
				}
			}
		}
		.links-wrapper{
			margin-bottom: 3.38vw;
			a.links{
				padding: 0.52083vw;
				margin-right: 0.3125vw 0; 
				margin: 0.3125vw 0;
				display: inline-block;
				padding: 0.52083vw;
			}
			.social-links{
				display: inline-flex;
				flex-direction: column;
				padding-left: .1vw;
			}
			.mail-link{
				display: inline-flex;
				padding: 0.52083vw;
				padding-left: 0.65vw;
			}
			.backTo{
				text-align: right;
				padding: 0.52083vw 0;
				box-sizing: content-box;
				margin-left: 17.8vw;
				cursor: pointer;
			}
			.more-info{
				padding: 0.52083vw;
				transform:translateY(-2.8vw);
				display: inline-block;
			}
		}
		.bottom-section{
			display: none;
		}
		.credits{
			padding-bottom: 5.6vw;
			color: $black;
			.style-link{
				line-height: 1.3vw;
				height: 1vw;
			}
			h6{
				padding: 0.625vw;
				&.madies-inc{
					padding-left: 0.8vw;
				}
				&.date{
					text-align: right;
					margin-left: 12.6vw;
				}

			}
			.mandel-link{
				padding: 0.625vw;
				margin-left: 10.8vw;
			}
		}
	}
}
// ====================== General Styles =====================
.is-mobile, .is-desktop{
	footer#footer{

		background-color: $white;
		a{
			text-decoration: none;
			text-transform: uppercase;
			color: $black;
		}
		.circle-wrapper{
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			span{
				display: inline-block;
				flex-shrink: 0;
				&.semi-circle{
					background-color: $green;
				}
				&:first-child{
					background-color: $black;
					transform: translateX(100%);
				}
				&:nth-child(2){
					background-color: $blue;
					z-index: 2;
				}
				&:nth-child(3){
					background-color: $yellow;
				}
			}
		}
		.links-wrapper{
			a.links{
				color: $black;
			}
		}
		.credits{
			display: flex;
			.style-link{
				box-sizing: content-box;
			}

			.madies-inc{
				color: $black;
			}
		}
	}
}
