// ======================Mobile=====================
.is-mobile{
	nav.nav-section{
		padding-top: 2.1vw;
		margin-bottom: 6.18vw;
		justify-content: space-between;

		.logo-wrapper{
			img{
				width: 18.6vw;
			}
		}
		p.phrase{
			display: none;
		}
		ul.language-wrapper{
			position: relative;
			left: -5.5vw;
			li{
				&.language-page{
					width: 12.66667vw;
					height: 12.66667vw;
					margin:1.33334vw;
				}
				&.spanish, 
				&.english{
					&:after{
						
						width: getvw(24vw);
						height: getvw(24vw);
					}
				}
				&:nth-child(2){
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	section.header{
		height: 136vw;
		.title-wrapper{
		
			h1.h1{
				// padding-left: 0.7vw;
			}
			.circle-wrapper{
				@include translate(-0.66vw, -0.95vw);

				span{
					&.circle{
						
						width: getvw(63vw);
						height: getvw(63vw);
					}
					&.semi-circle{	
						width: getvw(31.5vw);
						height: getvw(63vw);
					}
				}
			}
		}
		.subtitle{
			margin-top:7.34vw;
			margin-bottom: 8.4vw;
			padding-left: 0.9vw;
		}
		.img-wrapper{
			height: getvw(856vw);
			width: getvw(620vw);
			float: right;
			position: relative;
			z-index: 2;	
		}
	}
}

// 	======================Desktop======================
.is-desktop{
	nav.nav-section{
		margin-bottom: 5.29vw;
		padding-top: 3.5vw;

		.logo-wrapper{
			img{
				width: 7.8vw;
			}
		}

		p.phrase{
			display: block;
			font-size: 1.66667vw;
			font-family: 'Blw';
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
		}
		ul.language-wrapper{
			margin: 0 auto;
			position: relative;
			flex-direction: row;
			left: 1.8vw;
			li{
				&.language-page a{
					padding:0.52083vw;
					cursor: pointer;
				}

				&.spanish, 
				&.english{
					&:after{
						content: "";
						position: absolute;
						display: inline-block;
						display: none;
						width: getvwDesktop(24vw);
						height: getvwDesktop(24vw);
					}
					&:hover, &.current{
						&.spanish{
							&:after{
								background-color: $orange;
								border-radius: 50%;
								left: -1.4vw;
								display: block;
							}
						}
						&.english{
							&:after{
								background-color: $blue;
								border-radius: 50%;
								right: -1.4vw;
								display: block;
							}
						}
					}
				}

				&.spanish{
					margin-right:0.26041vw;
				}
				&.english{
					margin-left:0.26041vw;
				}

				&:nth-child(2){
					left: 48%;
				}
			}
		}
	}
	section.header{
		height: getvwDesktop(1080vw);
		.title-wrapper{
			h1.h1{
				// padding-left: 0.6vw;
			}

			.circle-wrapper{			
				@include translate(-1vw, -9.63vw);

				span{
					&.circle{
					
						height: getvwDesktop(140vw);
						width: getvwDesktop(140vw);
					}
					&.semi-circle{
						width: 3.65vw;
						height: 7.3vw;
					}
				}
			}
		}
		.subtitle{
			margin-top: 7.1vw;
			margin-bottom: 9.4vw;
			padding-left: 0.5vw;
			position: relative;
			z-index: 3;
		}
		.img-wrapper{
			height: getvwDesktop(1112vw);
			width: getvwDesktop(804vw);
			z-index: 2;
			position: absolute;
			right: $outMargin;
			bottom: -25.55vw;
			
			img{
				position: absolute;
				bottom: 0; right: 0;
			}
		}
	}

	// Spanish HTML style ======================
	&.es{
		section.header{
			.subtitle{
				padding-left: 0.8vw;
				margin-top: 7vw;
			}
		}
	}
}

// ======================General Styles======================
.is-mobile, .is-desktop{
	nav.nav-section{
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		.logo-wrapper{
			display: inline-block;
		}
		ul.language-wrapper{
			display: inline-flex;
			li{
				&.language-page{
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				a.a1{
					color: $white;
					text-transform: uppercase;
					text-align: center;
				}
				&:nth-child(2){
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	section.header{
		background-color: $black;
		position: relative;

		.h1{
			span{font-family: inherit;}
		}

		.title-wrapper{
			// display: flex;
			// flex-direction: row;
			// align-items: flex-end;
			position: relative;

			.main-title-wrap{
				position: relative;
				display: inline-block;
			}

			.circle-wrapper{
				display: inline-block;

				span{
					display: inline-block;

					&.circle{
						background-color: $yellow;
						@include transform-origin(bottom, center);
					}

					&.semi-circle{
						background-color: $green;
					}
				}
			}
		}

		.img-wrapper{
			img{@include transform-origin(left, bottom);}
		}
	}
}