// ====================== Mobile =====================
.is-mobile{
	section#section4{
		padding-top: 36.2vw;
		padding-bottom: 8.2vw;
		.top-section{
			h2{
				padding-right: 1.1vw;
			}
			.circle-wrapper{
				padding: 0 0 0 0.27vw;
				transform: translateY(-1.2vw);
				.semi-circle{
					height: getvw(44.2vw);
					width: getvw(89vw);
					top: 2vw;
				}
				.circle{
					height: getvw(118vw);
					width: getvw(118vw);
				}
			}
		}
		.slides-wrapper-2{
			display: none;
		}
		// slider
		.slider-wrapper{
			display: flex;
			margin-top: 12vw;
			margin-bottom: 15vw;
			.controller{
				display: flex;
				flex-direction: column;
				justify-content: center;
				button.btn{
					margin: 0;
					display: block;
					width: 100%;
					height: 2.4vw;
					line-height: 3vw;
				}
			}
			.slides-wrapper{
				flex-direction: row;
				.img-wrapper{
					img{
						height: getvw(525vw);
					}
				}

				.slide{
					height: getvw(525vw);

					&.prev{
						// background-color: red;
						@include translate(-102%, 0);

					}
					&.next{
						// background-color: green;
						@include translate(102%, 0);
					}
				}
			}

			.inner-wrapper{
				height: getvw(525vw);
			}

			.fruit-name{
				width: 100%;
				height: 9.13334vw;
				line-height: 8.53334vw;
				// bottom: -6vw;
				bottom: -5.53334vw;
				left: 50%;
				transform: translateX(-50%);

				.shifting-slide-title{
					@include translate(0, 110%);
				}
			}
		}
		.text-wrapper{
			&.text-right{
				margin-top: 8vw;
			}
			p.p2{
				padding-left: 0.1vw;
				line-height: 5.9vw;
				&:first-child{
					margin-bottom: 5.9vw
				}
			}
		}
	}
}
// ====================== Desktop =====================
.is-desktop{
	section#section4{
		padding-top: 12vw;
		padding-bottom: 0.4vw;
		.top-section{
			.circle-wrapper{
				transform: translate(-0.7vw, 15.7vw);
				.semi-circle{
					height: getvwDesktop(108vw);
					width: getvwDesktop(216vw);
					top: 1.95vw;
					left: -7.4vw;
				}
				.circle{
					height: getvwDesktop(287vw);
					width: getvwDesktop(287vw);
				}
			}
		}
		.slides-wrapper-2{
			position: absolute;
			left: $outMargin;
			top: -9.4vw;
			width: getvwDesktop(960vw);
			height: getvwDesktop(1200vw);
			overflow: hidden;
			display: flex;
			flex-wrap: nowrap;

			.img-wrapper{
				position: relative;
				width: 100%;
				height: 100%;
			}

			.img-mask-desktop{
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden;
				@include translate(-102%,0);
				// transition: transform 0s cubic-bezier(.3,0,.2,1) 1.2s;
				@include trans-ease-delay-transform(0s, 1.2s)

				&:after{
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: $black;
					@include translate(0,0);
					@include transform-origin(left, center);
					@include transitions-ease(1.2s);
				}

				img{
					@include scale(1.1,1.1);
					@include transitions-ease(1.2s);
				}

				&.active{
					z-index: 2;
					@include translate(0,0);
					// transition: transform 1.2s cubic-bezier(.3,0,.2,1) 0.5s;
					@include trans-ease-delay-transform(1.2s, 0.4s)

					&:after{
						@include translate(-102%,0);
						@include transitions-ease(0s);
					}

					img{
						@include scale(1,1);
					}
				}
			}
		}
		// slider
		.slider-wrapper{
			position: relative;
			margin-top: 23.05vw;
			margin-bottom: 16.1vw;
			.controller{
				padding-left: 1.855104vw;
				button.btn{
					height: 2.4vw;
					line-height: 1.3vw;
					padding: 0.625vw;
					text-align: center;
					display: inherit;
					margin: 0 auto;
					&.btn-prev{ margin-bottom: 2.4vw}
					&.btn-next{ margin-top: 2.5vw}
				}
			}
			.slides-wrapper{
				flex-direction: column;
				.inner-wrapper{
					height: getvwDesktop(653vw);
				}
				.slide{
					height: getvwDesktop(653vw);
					padding-left: 1.2vw;

					&.prev{
						@include translate(0, -102%);

					}
					&.next{
						@include translate(0, 102%);
					}
				}
				.img-wrapper{
					
					
					img{
						height: getvwDesktop(653vw);
					}
				}
			}
			.fruit-name{
				width: getvwDesktop(121vw);
				height: getvwDesktop(780vw);
				bottom: 50%;
				// right: -15%;
				right: 4.8vw;
				transform: translateY(50%);
				writing-mode: vertical-lr;

				.shifting-slide-title{
					height: 100%;
					@include translate(-110%, 0);
				}
			}
		}
		// text
		.text-wrapper{
			display: inline-block;
			p.p2{
				&:first-child{
					margin-bottom: 2.85vw;
				}
			}
		}
	}
}
// ====================== General Styles =====================


section#section4{
	background: $black;
	.top-section{
		display: flex;
		h2{
			text-align: right;
		}
		.circle-wrapper{
			.semi-circle{
				background-color: $green;
				display: inline-block;
				position: absolute;
				left: -7.6vw;
			}
			.circle{
				background-color: $yellow;
			}
		}
	}
	// slider
	.slider-wrapper{
		position: relative;

		.controller button.btn{
			color: $white;
			text-transform: uppercase;
			cursor: pointer;
		}
		.slides-wrapper{
			display: flex;
			flex-wrap: nowrap;
			position: relative;

			.inner-wrapper{
				position: relative;
				overflow: hidden;
				width: 100%;
			}

			.slide{
				position: absolute;
				width: 100%;

				&.active{
					// background-color: blue;
					display: block;
					z-index: 1;
					@include trans-ease-delay(1.3s, 0.1s);
					-webkit-transform: none;
					-moz-transform: none;
					-ms-transform: none;
					-o-transform: none;
					transform: none;
					
					.img-wrapper{
						bottom: 0;
						height: 100%;
						@include transitions-ease(1.3s);

						img{
							@include scale(1,1);
						}
					}
				}
				
			}

			.img-wrapper{
				position: absolute;
				width: 100%;
				height: 0;
				@include transitions-ease(1.4s);

				img{
					position: absolute;
					@include transitions-ease(1.3s);
					@include transform-origin(bottom, center);
					@include scale(1.35,1.35);
				}
			}
		}
		.fruit-name{
			text-transform: uppercase;
			text-align: center;
			z-index: 2;
			position: absolute;

			.slider-mask{
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			.shifting-slide-title{
				position: absolute;
				width: 100%;
				opacity: 0;
				@include transitions-ease(.8s);

				&.active{
					@include translate(0,0);
					opacity: 1;
					@include trans-ease-delay(.8s, .15s);
				}
			}
		}
	}
	// text
	.text-wrapper{
		&.text-right{
			padding-bottom: 8.66667vw;
		}
		p.p2{
			text-transform: uppercase;
		}
	}
}