// ====================== Mobile =====================
.is-mobile{
	section#section3{
		padding-top: 12.67vw;
		height: getvw(715vw);
		p.p1{
			line-height: 5.799999vw;
			margin-bottom: 6.9vw;
		}
		.bottom-section{
			.circle-wrapper{
				span.semi-circle{
					width: getvw(47vw);
					height: getvw(94vw);
				}
			}
			.img-wrapper{
				height: getvw(537vw);
			}
		}
	}
}
// ====================== Desktop =====================
.is-desktop{
	section#section3{
		padding-top: 7.8vw;
		height: getvwDesktop(902vw);
		p.p1{
			line-height: 3.4vw;
			margin-bottom: 6vw;
		}
		.bottom-section{
			.circle-wrapper{
				span.semi-circle{
					width: getvwDesktop(95.5vw);
					height: getvwDesktop(191vw);
				}
			}
			.img-wrapper{
				height: getvwDesktop(1024vw);
				margin-top: -18.8vw;
			}
		}
	}
}
// ====================== General Styles =====================
.is-mobile, .is-desktop{
	section#section3{
		background-color: $white;
		p.p1{
			text-transform: uppercase;
			color: $black;
		}
		.bottom-section{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			.circle-wrapper{
				span.semi-circle{
					display:inline-block;
					&:first-child{
						background-color: $blue;
					}
					&:last-child{
						background-color: $orange;
					}
				}
			}
		}
	}
}