// ====================== Mobile =====================
.is-mobile{
	section#section2{
		height: 136vw;
		padding-top: 24.6vw;
		margin-top: -8vw;
		.display-wrapper{
			li.dsp1{
				line-height: 16.8vw;
				height: 16.85vw;
			}
			.img-wrapper{
				width: getvw(364vw);
				height: getvw(450vw);
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% - -0.5vw));
			}
		}
	}
}
// ====================== Desktop =====================
.is-desktop{
	section#section2{
		height: getvwDesktop(1630vw);
		padding-top: 16.6vw;
		.display-wrapper{
			li.dsp1{
				line-height: 10.3vw;
				height: 10.25vw;
			}
			.img-wrapper{
				width: getvwDesktop(552vw);
				height: getvwDesktop(680vw);
				z-index: 2;
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% - -0.2vw));

				img{
					height: getvwDesktop(680vw);
				}
			}
		}
	}
}
// ====================== General Styles =====================
.is-mobile,.is-desktop{
	section#section2{
		background: $blue;
		.display-wrapper{
			position: relative;
			#blind-text-container{
				width: 100%;

				li{
					position: relative;
					text-align: center;
					color: $white;
					text-transform: uppercase;

					.blind-shifter{
						font-family: 'Blw';
						display: block;
					}
				}
			}
			.img-wrapper{
				position: absolute;

				.img-mask{
					position: absolute;
					width: 100%;
					height: 0;
					overflow: hidden;
					@include transitions-ease(.9s);

					&.show{
						z-index: 1;
						bottom: 0;
						height: 100%;

						img{
							@include scale(1,1);
						}
					}
				}

				img{
					position: absolute;
					@include transitions-ease(.9s);
					@include transform-origin(bottom, center);
					@include scale(1.5,1.5);
				}
			}
		}
	}
}
