// ======================Mobile=====================
.is-mobile{
	section#section1{
		padding-top: 58.5vw;
		p.p1{
			padding-bottom: 8.3vw;
		}
		.middle-section{
			.img-wrapper{
				height: getvw(431vw);
			}
			.circle-wrapper{
				span.semi-circle{
					&:first-child{
						width: getvw(108vw);
						height: getvw(54vw);
						left: -7.1vw;
					}
					&:last-child{
						margin-top: -4.8vw;
						width: getvw(72.5vw);
						height: getvw(145vw);
					}
				}
			}
		}
		.bottom-section{
			position: relative;
			h2{
				padding-right: 1.2vw;
				margin-top: 11.9vw;
			}
			.img-wrapper{
				width: getvw(557vw);
				height: getvw(756vw);
				margin-top: -10.1vw;
			}
			span.circle{
				width: getvw(163vw);
				height: getvw(158.84vw);
				bottom: 10.2vw;
				right: .8vw;
			}
			img.mountain{
				width: getvw(161vw);
				bottom: 8.1vw;
				right: 0;
			}
		}
	}
}
// ====================== Desktop ======================
.is-desktop{
	section#section1{
		position: relative;
		padding-top: 5.84vw;
		height: getvwDesktop(2362vw);
		p.p1{
			padding-bottom: 6.6vw;
			padding-left: 0.6vw;
		}
		.middle-section{
			.img-wrapper{
				height: getvwDesktop(790vw);
			}
			.circle-wrapper{
				margin-top: 16.15vw;
				span.semi-circle{
					&:first-child{
						width: getvwDesktop(210vw);
						height: getvwDesktop(105vw);
						left: -0.25vw;
					}
					&:last-child{
						margin-top: -3.65vw;
						width: getvwDesktop(140vw);
						height: getvwDesktop(280vw);
					}
				}
			}
		}
		.bottom-section{
			h2{
				padding-right: 0.95vw;
				margin-top: -1.3vw;

			}
			.img-wrapper{
				width: getvwDesktop(1090vw);
				height: getvwDesktop(1480vw);
				margin-top: -14.1vw;
				position: absolute;
				left: $outMargin;
			}
			span.circle{
				width: getvwDesktop(509vw);
				height: getvwDesktop(500vw);
				bottom: 3vw;
				right: -4.7vw;
			}
			img.mountain{
				width: getvwDesktop(518vw);
				height: getvwDesktop(498vw);
				bottom: 0vw;
				right: $outMargin;
			}
		}
	}
}
// ====================== General Styles =====================
.is-mobile,.is-desktop{
	section#section1{
		// background-color: $white;
		color: $black;

		p.p1{
			text-transform: uppercase;
		}

		.middle-section{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			.img-wrapper{
				z-index: 2;
			}
			.circle-wrapper{
				position: relative;
				display: flex;
				justify-content: flex-end;
				span.semi-circle{
					display: inline-block;
					&:first-child{
						position: absolute;
						background-color: $orange;
						z-index: 2;
						top:0;
					}
					&:last-child{
						background-color: $black;
					}
				}
			}
		}
		.bottom-section{
			h2{
				text-align: right;
				position: absolute;
				z-index: 2
			}
			span.circle{

				background-color: $black;
				position: absolute;
			}
			img.mountain{
				position: absolute;
				z-index: 2;
			}
		}
	}
}
