// ====================== Mobile =====================
.is-mobile{
	section#section2{
		height: 136vw;
		padding-top: 24.6vw;
		margin-top: -8vw;
		.display-wrapper{
			li.dsp1{
				line-height: 16.8vw;
			}
			.img-wrapper{
				width: getvw(364vw);
				height: getvw(450vw);
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% - -0.5vw));
			}
		}
	}
}
// ====================== Desktop =====================
.is-desktop{
	section#section2{
		height: getvwDesktop(1630vw);
		padding-top: 16.6vw;
		.display-wrapper{
			li.dsp1{
				line-height: 10.3vw;
			}
			.img-wrapper{
				width: getvwDesktop(552vw);
				height: getvwDesktop(680vw);
				z-index: 2;
				top: 50%;
				left: 50%;
				transform: translate(-50%, calc(-50% - -0.2vw));
			}
		}
	}
}
// ====================== General Styles =====================
.is-mobile,.is-desktop{
	section#section2{
		background: $blue;
		.display-wrapper{
			position: relative;
			#blind-text-container{
				width: 100%;

				li{
					text-align: center;
					color: $white;
					text-transform: uppercase;

					.blind-shifter{
						font-family: 'Blw';
						display: block;
					}
				}
			}
			.img-wrapper{
				position: absolute;
			}
		}
	}
}
