// ====================== Mobile =====================
.is-mobile{
	section#section5{
		padding-top: 14.7vw;
		.copy-wrapper{
			.h2{
				@include translate3d(0, 45vw, 0);
			}

			&.top{
				padding-right: 1.2vw;
			}
			&.bottom{
				margin-top: 63.3vw;
			}
		}

		.circle-wrapper{
			&.number-2{
				top: 9.3vw;
				.semi-circle{
					height: getvw(183vw);
					width: getvw(363vw);
					border-radius:  borderR(250.88vw) borderR(250.88vw) 0 0;
				}
				.triangle{
					border-left: getvw(363vw) solid transparent;
					border-right: 0px solid transparent;
					border-bottom: getvw(310vw) solid $blue;
				}
			}
			&.number-0{
				right: -24.4vw;
				top: 41.9vw;
				span{
					width: getvw(250.88vw);
					height: getvw(496.97vw);
					&.left{
						border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
					}
					&.right{
						border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
					}
				}
			}

			.inview-translate{
				@include translate3d(0, 20vw, 0);

				.triangle{
					@include translate3d(0, 24vw, 0);
				}

				.semi-circle.right{
					@include translate3d(0, 12vw, 0);
				}
			}
		}

		.img-wrapper{
			margin-top: -11.7vw;
			// height: getvw(645vw);
			height: getvw(767vw);

			.inview-mask{
				@include translate3d(0, 87vw, 0);

				.inview-translate{
					@include translate3d(0, -29vw, 0);

					img, video{
						@include scale(1.7,1.7);
					}
				}
			}
		}
	}

	// Spanish styling
	&.es{
		section#section5{
			.img-wrapper{
				margin-top: -3.05vw;
			}
		}
	}
}


// ====================== Desktop =====================
.is-desktop{
	section#section5{
		padding-top: 10vw;

		.copy-wrapper{
			&.top{
				margin-top: -.08vw;

				.h2{
					padding-right: .3vw;
				}
			}

			&.bottom{
				margin-top: 49.4vw;
			}

			.h2{
				@include translate3d(0, 45vw, 0);
			}
		}

		.circle-wrapper{
			&.number-2{
				top: 1.6vw;

				.semi-circle{
					height: getvwDesktop(424vw);
					width: getvwDesktop(839vw);
					border-radius:  borderR(424vw) borderR(424vw) 0 0;
				}
				.triangle{
					right: .1vw;
					border-left: getvwDesktop(839vw) solid transparent;
					border-right: 0px solid transparent;
					border-bottom: getvwDesktop(719vw) solid $blue;
				}
			}
			&.number-0{
				right: -21.8vw;
				top: 31.45vw;

				span{
					width: 29.97396vw;
					height: 59.31667vw;
					&.left{
						border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
					}
					&.right{
						border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
					}
				}
			}

			.inview-translate{
				@include translate3d(0, 20vw, 0);

				.triangle{
					@include translate3d(0, 12vw, 0);
				}

				.semi-circle.right{
					@include translate3d(0, 16vw, 0);
				}
			}
		}
		.img-wrapper{
			margin-top: -9.7vw;
			// height: getvwDesktop(919vw);
			height: getvwDesktop(1088vw);

			.inview-mask{
				@include translate3d(0, 49vw, 0);

				.inview-translate{
					@include translate3d(0, -29vw, 0);

					img, video{
						@include scale(1.7,1.7);
					}
				}
			}
		}
	}

	// Spanish HTML style ======================
	&.es{
		section#section5 .img-wrapper{
			margin-top: -2.4vw;
		}
	}
}


// ====================== General Styles =====================
.is-mobile, .is-desktop{
	section#section5{
		background-color: $white;
		position: relative;

		.copy-wrapper{
			z-index: 2;
			position: relative;

			&.top{text-align: right;}

			&.animate{
				.h2{
					@include translate3d(0,0,0);

					&:nth-child(1){@include trans-customease-delay(1.5s, $easeOutCubic, 0s);}
					&:nth-child(2){@include trans-customease-delay(1.5s, $easeOutCubic, .08s);}
					&:nth-child(3){@include trans-customease-delay(1.5s, $easeOutCubic, .16s);}
					&:nth-child(4){@include trans-customease-delay(1.5s, $easeOutCubic, .24s);}
				}
			}
		}

		h2.h2{
			color: $black;
		}

		.circle-wrapper{
			display: inline-block;

			&.number-2{
				display: flex;
				flex-direction: column;
				position: absolute;
				.semi-circle{
					background-color: $yellow;
				}
				.triangle{
					position: relative;
					width: 0;
					height: 0;
				}
			}
			&.number-0{
				position: absolute;
				span{
					&.left{
						background-color: $orange;
					}
					&.right{
						background-color: $black;
					}
				}
			}

			.inview-translate{
				@include flexIt;
				@include flexWrap;
			}

			&.animate{
				.inview-translate{
					@include trans-customease-delay(1.4s, $easeOutCubic, 0s);
					@include translate3d(0,0,0);

					.triangle{
						@include trans-customease-delay(1.8s, $easeOutCubic, 0s);
						@include translate3d(0, 0, 0);
					}

					.semi-circle.right{
						@include trans-customease-delay(1.4s, $easeOutCubic, 0s);
						@include translate3d(0, 0, 0);
					}
				}
			}
		}

		.img-wrapper{
			.inview-mask, .inview-translate{
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			video{
				position: absolute;
				top: -0.3vw;
				left: 0;
				width: 100%;
			}

			&.animate{
				.inview-mask{
					@include trans-customease-delay(1.6s, $easeOutCubic, .32s);
					@include translate3d(0,0,0);

					.inview-translate{
						@include trans-customease-delay(1.6s, $easeOutCubic, .32s);
						@include translate3d(0,0,0);

						img, video{
							@include trans-customease-delay(1.7s, $easeOutCubic, .32s);
							@include scale(1,1);
						}
					}
				}
			}
		}
	}
}
