section#section3{
	padding-top: 12.67vw;
	background-color: $white;
	height: getvw(715vw);
	p.p1{
		text-transform: uppercase;
		line-height: 5.799999vw;
		margin-bottom: 6.9vw;
		color: $yellow;
	}
	.bottom-section{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		.circle-wrapper{
			span.semi-circle{
				width: getvw(47vw);
				height: getvw(94vw);
				display:inline-block;
				&:first-child{
					background-color: $blue;
				}
				&:last-child{
					background-color: $orange;
				}
			}
		}
		.img-wrapper{
			height: getvw(537vw);
			img{height: 100%;}
		}
	}
}