// section#section5{
// 	background-color: $white;
// 	position: relative;
// 	padding-top: 14.7vw;
// 	h2.h2{
// 		z-index: 2;
// 		color: $black;
// 		&:first-child{
// 			text-align: right;
// 			padding-right: 1.2vw;
// 		}
// 		&.second-text{
// 			margin-top: 63.3vw;
// 		}
// 	}
// 	.circle-wrapper{
// 		display: inline-block;
// 		&.number-2{
// 			display: flex;
// 			flex-direction: column;
// 			position: absolute;
// 			top: 24vw;
// 			.semi-circle{
// 				background-color: $yellow;
// 				height: getvw(183vw);
// 				width: getvw(363vw);
// 				border-radius:  borderR(250.88vw) borderR(250.88vw) 0 0;
// 			}
// 			.triangle{
// 				width: 0;
// 				height: 0;
// 				border-left: getvw(363vw) solid transparent;
// 				border-right: 0px solid transparent;
// 				border-bottom: getvw(310vw) solid $blue;
// 			}
// 		}
// 		&.number-0{
// 			position: absolute;
// 			right: -24.4vw;
// 			top: 56.5vw;
// 			span{
// 				width: getvw(250.88vw);
// 				height: getvw(496.97vw);
// 				&.left{
// 					background-color: $orange;
// 					border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
// 				}
// 				&.right{
// 					background-color: $black;
// 					border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
// 				}
// 			}
// 		}
// 	}
// 	.img-wrapper{
// 		margin-top: -11.8vw;
// 		height: getvw(645vw);
// 		img{
// 			height: 100%;
// 		}
// 	}
// }
.is-mobile{
	section#section5{
		background-color: $white;
		position: relative;
		padding-top: 14.7vw;
		h2.h2{
			z-index: 2;
			color: $black;
			&:first-child{
				text-align: right;
				padding-right: 1.2vw;
			}
			&.second-text{
				margin-top: 63.3vw;
			}
		}
		.circle-wrapper{
			display: inline-block;
			&.number-2{
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 9vw;
				.semi-circle{
					background-color: $yellow;
					height: getvw(183vw);
					width: getvw(363vw);
					border-radius:  borderR(250.88vw) borderR(250.88vw) 0 0;
				}
				.triangle{
					width: 0;
					height: 0;
					border-left: getvw(363vw) solid transparent;
					border-right: 0px solid transparent;
					border-bottom: getvw(310vw) solid $blue;
				}
			}
			&.number-0{
				position: absolute;
				right: -24.4vw;
				top: 41.7vw;
				span{
					width: getvw(250.88vw);
					height: getvw(496.97vw);
					&.left{
						background-color: $orange;
						border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
					}
					&.right{
						background-color: $black;
						border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
					}
				}
			}
		}
		.img-wrapper{
			margin-top: -11.8vw;
			height: getvw(645vw);
			img{
				height: 100%;
			}
		}
	}
}
.is-desktop{
	section#section5{
		background-color: $white;
		position: relative;
		padding-top: 9.9vw;
		h2.h2{
			z-index: 2;
			color: $black;
			&:first-child{
				text-align: right;
				padding-right: 0.9vw;
			}
			&.second-text{
				margin-top: 49.4vw;
			}
		}
		.circle-wrapper{
			display: inline-block;
			&.number-2{
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 1.5vw;
				.semi-circle{
					background-color: $yellow;
					height: getvwDesktop(424vw);
					width: getvwDesktop(839vw);
					border-radius:  borderR(424vw) borderR(424vw) 0 0;
				}
				.triangle{
					width: 0;
					height: 0;
					border-left: getvwDesktop(839vw) solid transparent;
					border-right: 0px solid transparent;
					border-bottom: getvwDesktop(719vw) solid $blue;
				}
			}
			&.number-0{
				position: absolute;
				right: -21.8vw;
				top: 31.4vw;
				span{
					width: 29.97396vw;
					height: 59.31667vw;
					&.left{
						background-color: $yellow;
						border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
					}
					&.right{
						background-color: $black;
						border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
					}
				}
			}
		}
		.img-wrapper{
			margin-top: -9.75vw;
			height: getvwDesktop(919vw);
			img{
				height: 100%;
			}
		}
	}
}