// ====================== Mobile =====================
.is-mobile{
	section#section5{
		padding-top: 14.7vw;
		h2.h2{
			&:first-child{
				padding-right: 1.2vw;
			}
			&.second-text{
				margin-top: 63.3vw;
			}
		}
		.circle-wrapper{
			&.number-2{
				top: 9vw;
				.semi-circle{
					height: getvw(183vw);
					width: getvw(363vw);
					border-radius:  borderR(250.88vw) borderR(250.88vw) 0 0;
				}
				.triangle{
					border-left: getvw(363vw) solid transparent;
					border-right: 0px solid transparent;
					border-bottom: getvw(310vw) solid $blue;
				}
			}
			&.number-0{
				right: -24.4vw;
				top: 41.7vw;
				span{
					width: getvw(250.88vw);
					height: getvw(496.97vw);
					&.left{
						border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
					}
					&.right{
						border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
					}
				}
			}
		}
		.img-wrapper{
			margin-top: -11.8vw;
			height: getvw(645vw);
		}
	}
}
// ====================== Desktop =====================

.is-desktop{
	section#section5{
		padding-top: 9.9vw;
		h2.h2{
			&:first-child{
				padding-right: 0.9vw;
			}
			&.second-text{
				margin-top: 49.4vw;
			}
		}
		.circle-wrapper{
			&.number-2{
				top: 1.5vw;
				.semi-circle{
					height: getvwDesktop(424vw);
					width: getvwDesktop(839vw);
					border-radius:  borderR(424vw) borderR(424vw) 0 0;
				}
				.triangle{
					border-left: getvwDesktop(839vw) solid transparent;
					border-right: 0px solid transparent;
					border-bottom: getvwDesktop(719vw) solid $blue;
				}
			}
			&.number-0{
				right: -21.8vw;
				top: 31.4vw;
				span{
					width: 29.97396vw;
					height: 59.31667vw;
					&.left{
						border-radius:  borderR(250.88vw) 0 0 borderR(250.88vw) ;
					}
					&.right{
						border-radius:  0  borderR(250.88vw) borderR(250.88vw) 0;
					}
				}
			}
		}
		.img-wrapper{
			margin-top: -9.75vw;
			height: getvwDesktop(919vw);
		}
	}
}
// ====================== General Styles =====================
.is-mobile, .is-desktop{
	section#section5{
		background-color: $white;
		position: relative;
		h2.h2{
			z-index: 2;
			color: $black;
			&:first-child{
				text-align: right;
			}
		}
		.circle-wrapper{
			display: inline-block;
			&.number-2{
				display: flex;
				flex-direction: column;
				position: absolute;
				.semi-circle{
					background-color: $yellow;
				}
				.triangle{
					width: 0;
					height: 0;
				}
			}
			&.number-0{
				position: absolute;
				span{
					&.left{
						background-color: $yellow;
					}
					&.right{
						background-color: $black;
					}
				}
			}
		}
	}
}
