// ======================Mobile=====================
.is-mobile{
	section#section1{
		padding-top: 58.5vw;
		p.p1{
			padding-bottom: 8.3vw;

			span{
				@include translate3d(0, 20vw, 0);
			}
		}

		.middle-section{
			.img-wrapper{
				height: getvw(431vw);

				.mbrt-cascade{
					.inview-translate{
						@include translate3d(0, 15vw, 0);
					}
				}
			}

			.circle-wrapper{
				margin-top: -4.8vw;

				span.semi-circle{
					&.orange{
						width: getvw(108vw);
						height: getvw(54vw);
						left: -7.1vw;
						margin-top: 4.8vw;
					}
				}

				.black-half-container{
					width: getvw(72.5vw);
					height: getvw(145vw);
				}
			}
		}


		.bottom-section{
			position: relative;

			.copy-wrap{
				margin-top: 11.9vw;

				.inview-child{
					@include translate3d(0, 30vw, 0);					
				}
			}

			h2{
				padding-right: .4vw;
			}
			.img-wrapper{
				width: getvw(557vw);
				height: getvw(756vw);
				margin-top: -10.1vw;
			}
			span.circle{
				width: getvw(163vw);
				height: getvw(158.84vw);
				bottom: 10.2vw;
				right: .8vw;
			}
			img.mountain{
				width: getvw(161vw);
				bottom: 8.1vw;
				right: 0;
			}
		}
	}
}


// ====================== Desktop ======================
.is-desktop{
	section#section1{
		position: relative;
		padding-top: 5.84vw;
		height: getvwDesktop(2362vw);

		p.p1{
			padding-bottom: 6.6vw;
			padding-left: 0.6vw;

			span{
				@include translate3d(0, 30vw, 0);
			}
		}

		.middle-section{
			.img-wrapper{
				height: getvwDesktop(790vw);

				.mbrt-cascade{
					.inview-translate{
						@include translate3d(0, 25vw, 0);
					}
				}
			}
			.circle-wrapper{
				margin-top: 12.5vw;
				span.semi-circle{
					&.orange{
						width: getvwDesktop(210vw);
						height: getvwDesktop(105vw);
						left: -0.25vw;
						top: 3.65vw;
					}
				}

				.black-half-container{
					width: getvwDesktop(140vw);
					height: getvwDesktop(280vw);
				}
			}
		}

		.bottom-section{
			.copy-wrap{
				h2:nth-child(1){
					margin-bottom: 1.3vw;
				}

				h2:nth-child(2){
					margin-bottom: 1.4vw;
				}

				.inview-child{
					@include translate3d(0, 40vw, 0);
				}
			}

			h2{
				padding-right: 0.25vw;
				margin-top: -1.3vw;
			}

			.img-wrapper{
				width: getvwDesktop(1090vw);
				height: getvwDesktop(1480vw);
				margin-top: -14.1vw;
				position: absolute;
				left: $outMargin;
			}
			span.circle{
				width: getvwDesktop(509vw);
				height: getvwDesktop(500vw);
				bottom: 3vw;
				right: -4.7vw;
			}
			img.mountain{
				width: getvwDesktop(518vw);
				height: getvwDesktop(498vw);
				bottom: 0vw;
				right: $outMargin;
			}
		}
	}
}
// ====================== General Styles =====================
.is-mobile,.is-desktop{
	section#section1{
		// background-color: $white;
		color: $black;

		p.p1{
			text-transform: uppercase;

			span{
				display: block;
			}

			&.animate{
				span{
					@include trans-customease-delay(1.4s, $easeOutCubic, 0s);
					@include translate3d(0,0,0);
				}
			}
		}

		.middle-section{
			display: flex;
			flex-direction: row;
			align-items: flex-start;

			.img-wrapper{
				z-index: 2;
				overflow: visible;

				.mbrt-cascade{
					position: relative;
					width: 100%;
					height: 100%;

					.inview-translate{
						position: relative;
						width: 100%;
						height: 100%;
						overflow: hidden;
					}

					.inview-scale{
						position: relative;
						width: 100%;
						height: 100%;
						@include scale(1.35,1.35);
					}

					&.animate{
						.inview-translate{
							@include trans-customease-delay(1.4s, $easeOutCubic, 0s);
							@include translate3d(0, 0, 0);
						}

						.inview-scale{
							@include trans-customease-delay(1.4s, $easeOutCubic, 0s);
							@include scale(1,1);
						}
					}
				}
			}

			.circle-wrapper{
				position: relative;
				display: flex;
				justify-content: flex-end;

				.semi-circle{
					display: inline-block;

					&.orange{
						position: absolute;
						z-index: 3;
						top: 0;
						background-color: $orange;

						@include scale-rotate(0, 0, 90deg);
						@include transform-origin(center, center);
					}

					&.black{
						background-color: $black;
					}
				}

				.black-half-container{
					position: relative;
					z-index: 1;
					overflow: hidden;
				}

				.semi-circle.black{
					width: 100%;
					height: 100%;
					@include translate3d(102%, 0, 0);
				}

				&.animate{
					.semi-circle{
						&.orange{
							@include trans-customease-delay(1.1s, $easeOutCubic, .1s);
							@include scale-rotate(1, 1, 0deg);
						}

						&.black{
							@include translate3d(0,0,0);
							@include trans-customease-delay(1.1s, $easeOutCubic, .1s);
						}
					}
				}
			}
		}


		.bottom-section{
			.copy-wrap{
				position: absolute;
				z-index: 1;

				&.animate{
					.inview-child{
						&:nth-child(1){@include trans-customease-delay(1.4s, $easeOutCubic, 0s);}
						&:nth-child(2){@include trans-customease-delay(1.4s, $easeOutCubic, .12s);}
						&:nth-child(3){@include trans-customease-delay(1.4s, $easeOutCubic, .24s);}
						@include translate3d(0,0,0);
					}
				}
			}

			h2{
				text-align: right;
				// position: absolute;
				z-index: 2
			}

			span.circle{
				background-color: $black;
				position: absolute;
			}

			img.mountain{
				position: absolute;
				z-index: 2;
			}
		}
	}
}
