extends _templates/layout.jade

block content
	include _modules/_header.jade
	include _modules/_section1.jade
	include _modules/_section2.jade
	include _modules/_section3.jade
	include _modules/_section4.jade
	include _modules/_section5.jade
	include _modules/_footer.jade